@{
    ViewBag.Title = "Contact";
}
<br/> 

<h3>
    peachVille<br />
    Atlanta, Georgia<br />
    USA
</h3>
<br/>

<address>
    <strong>Contact:</strong>   <a href="mailto:support@eusVille.com">support@eusVille.com</a><br />
</address>

<br /><br /><br /><br />

<div>
    <img src="~/Content/Images/peach_347x281.jpg" style="float:left; margin-right:40px"/>
    <img src="~/Content/Images/peach_347x281.jpg" style="float:left; margin-right:40px" />
    <img src="~/Content/Images/peach_347x281.jpg" style="float:left" />
</div>

<br style="clear:both"/><br /><br /><br />