@{
    ViewBag.Title = "Confirm Email";
}

<div style="text-align:center">
    <br /><br />
    <h2>Hooray, welcome to eusVille !</h2>
    <br /><br />
    <div>
        <p>
            Thank you for confirming your email.<br/><br/>
            Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>

</div>